<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="majormojo.rain_or_shine">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Rain Or Shine" android:theme="@style/Theme.RainOrShine">
	</application>
</manifest>
